/*Hace tu pedido*/

.estilos_cajas {
	display: flex;
	justify-content: center;
}

.cajas {
	width: 300px;
	height: 300px;
	border: 1px solid greenyellow;
	margin: 10px;
}
.titulo_comidas {
	font-size: 20px; 
	color: aqua;
}

.caja_estructura {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}

$colores: ("pizza": rgb(32, 89, 244), "empanadas": rgb(243, 86, 86), "gaseosas": rgb(114, 176, 56), "postres": rgb(232, 235, 57));

@each $name, $color in $colores {
  .color-#{$name}{
    color: $color;
  }
}


