body {
	background-color: bisque;
	font-family: 'Iceberg', cursive;
	background-image: linear-gradient(to right bottom, #4a5927, #665d0d, #8a5b00, #b54e02, #e02e2e);
}

.title h1 {
	display: flex;
	justify-content: center;
	font-size: 3em;
	color: rgb(255, 219, 0)
}
.header {
	display:flex;
	justify-content: start;
}
.textLink {
	text-decoration: none;
	color: rgb(66, 199, 66);
}
.container {

	width: 75%;
	max-width: 1000px;
	margin: 1.6em auto;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(4,1fr) ;

}
 .carousel {
	width: 270px;
	height: 270px;
} 
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
.container> .header,
.container> .content,
.container> .sidebar,
.container> .footer, 
.container> div {
    padding: 10px;
    border: 1px solid #000000; }

.container .header,
.container .footer {
		grid-column: 1/5;
		background-color: #1e272e;
		color: #ffffff;
		border-radius: 0px;
		background: linear-gradient(145deg, #6f5656, #5e4848);
		box-shadow:  5px 5px 9px #382b2b,
             		 -5px -5px 9px #987575;
	}

.container {
    .content  {
	grid-column: span 2;
	background-color: brown;
    
    .article {
        background-color: brown;
        padding: 20px;
        margin-top: 10px;
    }
  }	
}
.content .article h1,
.content .article p {
    padding: 10px;
}

.container > .sidebar {
	grid-column: span 2;
	background: #485460;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 0px;
	background: linear-gradient(145deg, #daec92, #b8c77a);
	box-shadow:  5px 5px 9px #6e7749,
             -5px -5px 9px #ffffc7;

}

#pizzagif {
	width: 400px;
}

.container > .related-post {
	background: #2d3436;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5 ease;
}

.container > .related-post:hover {
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 5;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}
.article {
	background-image: linear-gradient(to left, red , yellow) ;
}
.related-post {
	border-radius: 0px;
	background: #943d3d;
	box-shadow: inset 20px 20px 39px #532222,
    inset -20px -20px 39px #d55858;
}
.sidebar {
	border-radius: 0px;
}