/*Nuestro Menu*/

.title2 h1 {
	display: flex;
	justify-content: center;
	font-size: 3em;
	color: rgb(255, 219, 0)
}
.header__design {
	width: 850px;
	height: 74px;
	padding-left: 20px;
	padding-top: 10px ;
	background-color: #1e272e;
	color: #ffffff;
	border-radius: 0px;
	background: linear-gradient(145deg, #6f5656, #5e4848);
	box-shadow:  5px 5px 9px #382b2b,
				 -5px -5px 9px #987575;
}
.header2{
	padding-left: 230px;
	padding-bottom: 10px ;
}
.lista__precios {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.titulo__potres {
	padding-left: 230px;
	color: white;
	
}
.ulListPrices {
	width: 250px;
	height: 220px;
	border: solid 1px rgb(66, 199, 66);
	padding: 5px;
}

.tablamenu {
	grid-column: 1/5;
	color: white;
}
.tablamenu2 {
	grid-column: 1/5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}