/*Registrate*/

.datos {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.completa_tus_datos{
	width: 400px;
	height: 350px;
	border: solid 2px black;
	margin-right: 10px;

}
.donde_lo_llevamos{
	width: 400px;
	height: 350px;
	border: solid 2px black;
	margin-right: 10px;
	
}
.title_info {
	padding: 3px;
	color: white;

}

.sexo {
	padding-left: 50px;
	}
.selector {
	padding-left: 100px;
}
.nombre_title {
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.apellido_title {
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nombre {
	text-align: center;
	padding-bottom: 10px;
}
.apellido {
		text-align: center;
		padding-bottom: 10px;

}
.direccion {
	padding: 10px 50px 30px;
}
.piso {
	padding: 10px 50px 30px;
}
.codigoP {
	padding: 10px 50px 30px;
}
.localidadDis {
	padding: 10px 50px 30px;
}

.sorteos_info {
	padding-left: 380px;
	padding-top: 10px;
	color: #ffffc7;
}
.Datos_Js {
	margin: 10px 175px 80px;
	height: 98px;
	width: 900px;
	padding: 10px;
}

.booton_datos {
	display: flex;
	justify-content: center;
	margin: 15px 0px 10px;

}

.colorInput {
	background: transparent;
}
.footer3 {
	margin: 30px 175px;
	height: 98px;
	width: 900px;
	padding: 10px;
	color: #ffffff;
	border: 1px solid #000000; 
	background: linear-gradient(145deg, #6f5656, #5e4848);
		box-shadow:  5px 5px 9px #382b2b,
             		 -5px -5px 9px #987575;
}
